<div class="tab {{#if (eq activeTab 'wizardtab')}}active{{/if}}" data-tab="wizardtab" data-group="spellbook-tabs">
	<div class="spells-container">
		{{#if isLoading}}
			{{> "modules/spell-book/templates/components/loading-spinner.hbs" size=3 message=(localize 'SPELLBOOK.Application.Loading')}}
		{{else if hasError}}
			{{> "modules/spell-book/templates/components/error-message.hbs" message=errorMessage}}
		{{else}}
			{{#if isWizard}}
				<div class="spellbook-info">
					<h3>Your Wizard Spellbook</h3>
					<p>Your spellbook contains {{wizardSpellbookCount}} spells.</p>
					<p>You prepare the list of wizard spells that are available for you to cast. Choose a number of wizard spells
						from your spellbook equal to your Intelligence modifier + your wizard level (minimum of one spell).</p>

					<div class="ritual-casting">
						<h3>Ritual Casting</h3>
						<p>You can cast a wizard spell as a ritual if that spell has the ritual tag and you have the spell in your
							spellbook. You don't need to have the spell prepared.</p>
					</div>

					<div class="spellbook-rules">
						<h3>Learning New Spells</h3>
						<p>When you find a wizard spell of 1st level or higher, you can add it to your spellbook if it is of a level
							for which you have spell slots and if you can spare the time to decipher and copy it.</p>
						<p>For each level of the spell, the process takes 2 hours and costs 50 gp. The cost represents material
							components you expend as you experiment with the spell to master it, as well as the fine inks you need to
							record it.</p>
					</div>
				</div>

				{{#if spellLevels.length}}
					{{#each spellLevels as |levelData|}}
						{{#> "modules/spell-book/templates/components/spell-level.hbs" level=levelData.level levelName=levelData.levelName spells=levelData.spells}}
							<li class="spell-item{{#if inWizardSpellbook}} in-wizard-spellbook prepared-spell{{/if}}"
								data-spell-uuid="{{compendiumUuid}}" data-spell-level="{{../level}}"
								data-spell-school="{{system.school}}" data-casting-time-type="{{filterData.castingTime.type}}"
								data-casting-time-value="{{filterData.castingTime.value}}" data-range-units="{{filterData.range.units}}"
								data-range-value="{{system.range.value}}" data-damage-types="{{filterData.damageTypes}}"
								data-ritual="{{filterData.isRitual}}" data-concentration="{{filterData.concentration}}"
								data-requires-save="{{filterData.requiresSave}}" data-conditions="{{filterData.conditions}}"
								role="listitem">
								<div class="spell-header">
									<div class="spell-name">
										{{{enrichedIcon}}}
										<div class="name-stacked">
											<span class="title">{{name}}</span>
											<span class="subtitle">{{{formattedDetails}}}</span>
										</div>
									</div>

									<div class="wizard-spell-status">
										{{#if inWizardSpellbook}}
											<span class="in-spellbook-tag" aria-label="Spell is in your spellbook">
												{{localize 'SPELLBOOK.Wizard.InSpellbook'}}
											</span>
										{{else}}
											{{#if (gt system.level 0)}}
												<button class="copy-spell-btn" data-action="learnSpell" data-uuid="{{compendiumUuid}}"
													type="button">
													<i class="fas fa-book"></i> {{localize 'SPELLBOOK.Wizard.LearnSpell'}}
												</button>
											{{/if}}
										{{/if}}
									</div>
								</div>
							</li>
							{{/modules/spell-book/templates/components/spell-level.hbs}}
					{{/each}}
				{{else}}
					{{> "modules/spell-book/templates/components/empty-state.hbs" message=(localize 'SPELLBOOK.Errors.NoSpellsFound' actor=actor.name)}}
				{{/if}}
			{{else}}
				<div class="wizard-unavailable">
					<p>The Wizard Spellbook is only available for characters with the Wizard class.</p>
				</div>
			{{/if}}

			<!-- No results message (initially hidden) -->
			<div class="no-filter-results" style="display: none;" role="status">
				{{localize 'SPELLBOOK.Filters.NoResults'}}
			</div>
		{{/if}}
	</div>
</div>
