<div class="tab {{#if (eq activeTab 'wizardtab')}}active{{/if}}" data-tab="wizardtab" data-group="spellbook-tabs">
	{{#if isWizard}}
		<div class="wizard-spellbook-tab">
			<div class="spellbook-info">
				<p>Your spellbook contains {{wizardSpellbookCount}} spells.</p>

				<div class="spellbook-rules">
					<h3>Learning New Spells</h3>
					<p>When you find a wizard spell of 1st level or higher, you can add it to your spellbook if it is of a level
						for which you have spell slots and if you can spare the time to decipher and copy it.</p>
					<p>For each level of the spell, the process takes 2 hours and costs 50 gp. The cost represents material
						components you expend as you experiment with the spell to master it, as well as the fine inks you need to
						record it.</p>
				</div>

				<div class="ritual-casting">
					<h3>Ritual Casting</h3>
					<p>You can cast a wizard spell as a ritual if that spell has the ritual tag and you have the spell in your
						spellbook. You don't need to have the spell prepared.</p>
				</div>
			</div>

			{{#each spellLevels as |levelData|}}
				<div class="wizard-level-container" data-level="{{levelData.level}}">
					<h3 class="wizard-level-header">{{levelData.levelName}}</h3>
					<ul class="wizard-spell-list">
						{{#each levelData.spells as |spell|}}
							<li class="wizard-spell-item {{#if spell.inWizardSpellbook}}in-spellbook{{/if}}">
								<div class="spell-name">
									{{{spell.enrichedIcon}}}
									<div class="name-stacked">
										<span class="title">{{spell.name}}</span>
										<span class="subtitle">{{{spell.formattedDetails}}}</span>
									</div>
								</div>

								<div class="wizard-spell-status">
									{{#if spell.inWizardSpellbook}}
										<span class="in-spellbook-tag">Already Learned</span>
									{{else}}
										{{#if (gt spell.system.level 0)}}
											<button class="copy-spell-btn" data-uuid="{{spell.compendiumUuid}}" type="button">
												<i class="fas fa-book"></i> Learn Spell
											</button>
										{{/if}}
									{{/if}}
								</div>
							</li>
						{{/each}}
					</ul>
				</div>
			{{/each}}
		</div>
	{{else}}
		<div class="wizard-unavailable">
			<p>The Wizard Spellbook is only available for characters with the Wizard class.</p>
		</div>
	{{/if}}
</div>
