<section class="selected-list-content" role="main">
  {{#if selectedList}}
    <div class="selected-list-header">
      <div class="header-title">
        <h2>{{selectedList.name}}</h2>
      </div>
      <div class="header-buttons" role="toolbar">
        <div class="registry-toggle action-button" data-tooltip="{{localize 'SPELLBOOK.Registry.ToggleTooltip'}}">
          <label class="checkbox-label">
            <dnd5e-checkbox data-action="registerList" data-uuid="{{selectedList.uuid}}"
              {{#if selectedList.isRegistryEnabled}}checked{{/if}}></dnd5e-checkbox>
            <span>{{localize 'SPELLBOOK.Registry.EnableLabel'}}</span>
          </label>
        </div>
        {{#if selectedList.isRenameable}}
          <button type="button" class="action-button" data-action="renameList" data-uuid="{{selectedList.uuid}}"
            data-tooltip="{{localize 'SPELLMANAGER.Tooltips.Rename'}}">
            <i class="fas fa-pen" aria-hidden="true"></i>
          </button>
        {{/if}}
        {{#if selectedList.isPlayerSpellbook}}
          <button type="button" class="action-button" data-action="openActor"
            data-tooltip="{{localize 'SPELLMANAGER.Buttons.OpenActor'}}">
            <i class="fas fa-user" aria-hidden="true"></i>
          </button>
        {{/if}}
        {{#if selectedList.isClassSpellList}}
          <button type="button" class="action-button" data-action="openClass"
            data-tooltip="{{localize 'SPELLMANAGER.Buttons.Open' type=selectedList.classType}}">
            <i class="fas fa-scroll" aria-hidden="true"></i>
          </button>
        {{/if}}
        {{#if selectedList.canRestore}}
          <button type="button" class="action-button" data-action="restoreList" data-uuid="{{selectedList.uuid}}"
            data-tooltip="{{localize 'SPELLMANAGER.Buttons.Restore'}}">
            <i class="fas fa-sync" aria-hidden="true"></i>
          </button>
        {{/if}}
        <button type="button" class="action-button" data-action="deleteList" data-uuid="{{selectedList.uuid}}"
          data-tooltip="{{localize 'SPELLMANAGER.Buttons.Delete'}}">
          <i class="fas fa-trash" aria-hidden="true"></i>
        </button>
        <button type="button" class="action-button save-btn" data-action="saveList" data-uuid="{{selectedList.uuid}}"
          data-tooltip="{{localize 'SPELLMANAGER.Buttons.Save'}}">
          <i class="fas fa-save" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="split-view">
      <div class="available-spells-panel">
        <h3 class="panel-header">{{localize "SPELLMANAGER.Sidebar.AvailableSpells"}}
          {{#if filteredSpells}}({{filteredSpells.totalFiltered}}){{/if}}</h3>
        <div class="panel-scroll">
          {{#if filteredSpells.spells.length}}
            <ul class="spell-list-items" role="list">
              {{#each filteredSpells.spells as |spell|}}
                <li class="spell-item available{{#if ../selectionMode}} selectable{{/if}}{{#if spell.isSelectedForAdd}} selected{{/if}}"
                  data-uuid="{{spell.uuid}}" draggable="true">
                  <div class="spell-name">
                    {{{spell.enrichedIcon}}}
                    <div class="name-stacked">
                      <span class="title">{{spell.name}}</span>
                      <span class="subtitle">{{spell.formattedDetails}}</span>
                    </div>
                  </div>
                  {{#if spell.showCompare}}
                    <i class="fa-solid fa-scale-balanced spell-compare-icon{{#if spell.isInComparison}} active{{/if}}"
                      data-action="compareSpell" data-uuid="{{spell.uuid}}"
                      data-tooltip="{{localize 'SPELLBOOK.Comparison.CompareSpell' name=spell.name}}"
                      aria-label="{{localize 'SPELLBOOK.Comparison.CompareSpell' name=spell.name}}"></i>
                  {{/if}}
                  <button type="button" class="add-spell{{#if ../selectionMode}} select-toggle{{/if}}" data-action="addSpell" data-uuid="{{spell.uuid}}"
                    data-tooltip="{{localize 'SPELLMANAGER.Buttons.AddSpell' name=spell.name}}">
                    {{#if ../selectionMode}}
                      <i class="fas fa-{{#if spell.isSelectedForAdd}}check-square{{else}}square{{/if}}" aria-hidden="true"></i>
                    {{else}}
                      <i class="fas fa-plus" aria-hidden="true"></i>
                    {{/if}}
                  </button>
                </li>
              {{/each}}
            </ul>
          {{else}}
            {{> "modules/spell-book/templates/components/empty-state.hbs" message=(localize "SPELLMANAGER.Columns.NoMatchingSpells")}}
          {{/if}}
        </div>
      </div>
      <div class="current-list-panel">
        <h3 class="panel-header">{{selectedList.name}} ({{selectedList.spellCount}})</h3>
        <div class="panel-scroll">
          {{#if selectedList.spells.length}}
            {{#each selectedList.spellsByLevel as |levelData|}}
              <div class="spell-level" data-level="{{levelData.level}}">
                <h4 class="spell-level-heading" data-action="toggleSpellHeader" data-level="{{levelData.level}}"
                  role="button" aria-expanded="true">
                  <i class="fas fa-caret-down collapse-indicator" aria-hidden="true"></i>
                  {{levelData.levelName}}
                </h4>
                <ul class="spell-list" role="list">
                  {{#each levelData.spells as |spell|}}
                    <li class="spell-item{{#if @root.selectionMode}} selectable{{/if}}{{#if spell.isSelectedForRemoval}} selected{{/if}}"
                      data-uuid="{{spell.uuid}}" draggable="true">
                      <div class="spell-name">
                        {{{spell.enrichedIcon}}}
                        <div class="name-stacked">
                          <span class="title">{{spell.name}}</span>
                          <span class="subtitle">{{spell.formattedDetails}}</span>
                        </div>
                      </div>
                      {{#if spell.showCompare}}
                        <i class="fa-solid fa-scale-balanced spell-compare-icon{{#if spell.isInComparison}} active{{/if}}"
                          data-action="compareSpell" data-uuid="{{spell.uuid}}"
                          data-tooltip="{{localize 'SPELLBOOK.Comparison.CompareSpell' name=spell.name}}"
                          aria-label="{{localize 'SPELLBOOK.Comparison.CompareSpell' name=spell.name}}"></i>
                      {{/if}}
                      <button type="button" class="remove-spell{{#if @root.selectionMode}} select-toggle{{/if}}" data-action="removeSpell" data-uuid="{{spell.uuid}}"
                        data-tooltip="{{localize 'SPELLMANAGER.Buttons.RemoveSpell' name=spell.name}}">
                        {{#if @root.selectionMode}}
                          <i class="fas fa-{{#if spell.isSelectedForRemoval}}check-square{{else}}square{{/if}}" aria-hidden="true"></i>
                        {{else}}
                          <i class="fas fa-trash" aria-hidden="true"></i>
                        {{/if}}
                      </button>
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/each}}
          {{else}}
            {{> "modules/spell-book/templates/components/empty-state.hbs" message=(localize "SPELLMANAGER.Columns.NoSpells")}}
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="no-selection">
      <p>{{localize "SPELLMANAGER.Columns.NoListSelected"}}</p>
    </div>
  {{/if}}
</section>
