<div class="spell-book chat-release">
  <div class="release-header">
    <i class="fa-solid fa-book-sparkles"></i>
    <strong>{{localize "SPELLBOOK.Release.Title" version=version}}</strong>
  </div>

  <div class="release-body">
    <p class="release-patreon">
      <strong><a href="https://www.patreon.com/3deathsaves" target="_blank" rel="noopener"><i
            class="fa-brands fa-patreon"></i> Now on Patreon!</a></strong>
    </p>

    <h4>{{localize "SPELLBOOK.Release.NewFeatures"}}</h4>
    <ul>
      <li>Added three new API surfaces for third-party modules to open the Spell Book and Class Rules dialog directly.
      </li>
    </ul>

    <h4>{{localize "SPELLBOOK.Release.BugFixes"}}</h4>
    <ul>
      <li>Fixed leveled spells not appearing in the Spell Book for warlocks and other pact casters, which previously
        showed only cantrips.</li>
    </ul>

    <h4>{{localize "SPELLBOOK.Release.Changes"}}</h4>
    <ul>
      <li>Class Rules dialog and its entry points are now hidden from non-GM players. Players ask the GM to assign spell
        lists.</li>
    </ul>
  </div>

  <a class="open-note" href="{{repoUrl}}" target="_blank" rel="noopener">
    <i class="fa-solid fa-arrow-up-right-from-square"></i> {{localize "SPELLBOOK.Release.ReleaseNotes"}}
  </a>
</div>
