<div class="spell-book chat-release">
  <div class="release-header">
    <i class="fa-solid fa-book-sparkles"></i>
    <strong>{{localize "SPELLBOOK.Release.Title" version=version}}</strong>
  </div>

  <div class="release-body">
    <p class="release-patreon">
      <strong><a href="https://www.patreon.com/3deathsaves" target="_blank" rel="noopener"><i
            class="fa-brands fa-patreon"></i> Now on Patreon!</a></strong>
    </p>

    <h4>{{localize "SPELLBOOK.Release.NewFeatures"}}</h4>
    <ul>
      <li>Spell lists from sources you've turned off in the Compendium Browser are now hidden so they can't be assigned by mistake.</li>
      <li>The Spell Book now whispers you when a character gains spellcasting but has no spell list set up.</li>
      <li>The party analysis now shows a saving-throw spread and additional recommendations.</li>
    </ul>

    <h4>{{localize "SPELLBOOK.Release.BugFixes"}}</h4>
    <ul>
      <li>The Spell Book now reliably whispers the GM when a player changes their prepared spells.</li>
      <li>A broken compendium pack no longer blanks the Class Rules spell-list dropdown.</li>
    </ul>

    <h4>{{localize "SPELLBOOK.Release.Changes"}}</h4>
    <ul>
      <li>The spell-change notification has a new arcane themed card listing removed and added spells.</li>
    </ul>
  </div>

  <a class="open-note" href="{{repoUrl}}" target="_blank" rel="noopener">
    <i class="fa-solid fa-arrow-up-right-from-square"></i> {{localize "SPELLBOOK.Release.ReleaseNotes"}}
  </a>
</div>
