<div class="create-spell-list">
  <div class="form-group">
    <label for="list-name">{{localize "SPELLMANAGER.CreateList.ListNameLabel"}}</label>
    <div class="form-fields">
      <input type="text" id="list-name" name="name"
        placeholder="{{localize 'SPELLMANAGER.CreateList.ListNameLabel'}}" maxlength="100">
    </div>
  </div>
  <div class="form-group">
    <label for="class-identifier">{{localize "SPELLMANAGER.CreateList.ClassLabel"}}</label>
    <div class="form-fields">
      <select id="class-identifier" name="identifier">
        {{#each identifierOptions}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
        <option value="custom">{{localize "SPELLMANAGER.CreateList.CustomIdentifier"}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="custom-identifier">{{localize "SPELLMANAGER.CreateList.CustomIdentifierLabel"}}</label>
    <div class="form-fields">
      <input type="text" id="custom-identifier" name="customIdentifier"
        placeholder="{{localize 'SPELLMANAGER.CreateList.CustomIdentifierLabel'}}"
        pattern="[\d_a-z-]+" disabled>
    </div>
    <p class="hint">{{localize "SPELLMANAGER.CreateList.IdentifierNotes"}}</p>
  </div>
  <div class="form-group">
    <label for="is-subclass">{{localize "SPELLMANAGER.CreateList.SubclassLabel"}}</label>
    <div class="form-fields">
      <input type="checkbox" id="is-subclass" name="is-subclass">
    </div>
    <p class="hint">{{localize "SPELLMANAGER.CreateList.SubclassHint"}}</p>
  </div>
</div>
