<div class="details-customization-content">
  <div class="scroll-body">
    <fieldset data-group="player-ui">
      <legend>
        <span>{{localize "SPELLBOOK.Settings.DetailsCustomization.SpellBook"}} &mdash; {{localize "SPELLBOOK.Settings.DetailsCustomization.UIElements"}}</span>
        <label class="select-all-label">
          <input type="checkbox" class="select-all">
          {{localize "SPELLBOOK.Settings.DetailsCustomization.SelectAll"}}
        </label>
      </legend>
      {{#each playerUI}}
        {{> "modules/spell-book/templates/components/setting-item.hbs" this}}
      {{/each}}
    </fieldset>
    <fieldset data-group="player-metadata">
      <legend>
        <span>{{localize "SPELLBOOK.Settings.DetailsCustomization.SpellBook"}} &mdash; {{localize "SPELLBOOK.Settings.DetailsCustomization.MetadataElements"}}</span>
        <label class="select-all-label">
          <input type="checkbox" class="select-all">
          {{localize "SPELLBOOK.Settings.DetailsCustomization.SelectAll"}}
        </label>
      </legend>
      {{#each playerMetadata}}
        {{> "modules/spell-book/templates/components/setting-item.hbs" this}}
      {{/each}}
    </fieldset>
    {{#if isGM}}
      <fieldset data-group="gm-ui">
        <legend>
          <span>{{localize "SPELLBOOK.Settings.DetailsCustomization.SpellListManager"}} &mdash; {{localize "SPELLBOOK.Settings.DetailsCustomization.UIElements"}}</span>
          <label class="select-all-label">
            <input type="checkbox" class="select-all">
            {{localize "SPELLBOOK.Settings.DetailsCustomization.SelectAll"}}
          </label>
        </legend>
        {{#each gmUI}}
          {{> "modules/spell-book/templates/components/setting-item.hbs" this}}
        {{/each}}
      </fieldset>
      <fieldset data-group="gm-metadata">
        <legend>
          <span>{{localize "SPELLBOOK.Settings.DetailsCustomization.SpellListManager"}} &mdash; {{localize "SPELLBOOK.Settings.DetailsCustomization.MetadataElements"}}</span>
          <label class="select-all-label">
            <input type="checkbox" class="select-all">
            {{localize "SPELLBOOK.Settings.DetailsCustomization.SelectAll"}}
          </label>
        </legend>
        {{#each gmMetadata}}
          {{> "modules/spell-book/templates/components/setting-item.hbs" this}}
        {{/each}}
      </fieldset>
    {{/if}}
    <fieldset>
      <legend>{{localize "SPELLBOOK.Settings.DetailsCustomization.WizardBookIconColor"}}</legend>
      <div class="form-group">
        <label for="wizard-book-icon-color">{{localize "SPELLBOOK.Settings.DetailsCustomization.WizardBookIconColor"}}</label>
        <div class="form-fields">
          <color-picker id="wizard-book-icon-color" name="wizardBookIconColor"
            value="{{wizardBookIconColor}}" placeholder="{{userColor}}"></color-picker>
          <button type="button" data-action="useUserColor" data-user-color="{{userColor}}"
            data-tooltip="{{localize 'SPELLBOOK.Settings.DetailsCustomization.WizardBookUseUserColor'}}">
            <i class="fas fa-user" aria-hidden="true"></i>
          </button>
          <button type="button" data-action="reset"
            data-tooltip="{{localize 'SPELLBOOK.Settings.DetailsCustomization.WizardBookResetDefault'}}">
            <i class="fas fa-undo" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </fieldset>
  </div>
  <footer class="form-footer">
    <button type="submit"><i class="fas fa-save" aria-hidden="true"></i> {{localize "Save"}}</button>
  </footer>
</div>
