<div class="merge-spell-lists">
  <div class="form-group">
    <label for="spell-lists-to-merge">{{localize "SPELLMANAGER.MergeLists.SpellListsLabel"}}</label>
    <div class="form-fields">
      <multi-select id="spell-lists-to-merge" name="spellListsToMerge">
        {{#if lists.standard.length}}
          <optgroup label="{{localize 'SPELLMANAGER.Folders.SpellLists'}}">
            {{#each lists.standard}}
              <option value="{{this.uuid}}">{{this.name}}</option>
            {{/each}}
          </optgroup>
        {{/if}}
        {{#if lists.custom.length}}
          <optgroup label="{{localize 'SPELLMANAGER.Folders.CustomLists'}}">
            {{#each lists.custom}}
              <option value="{{this.uuid}}">{{this.name}}</option>
            {{/each}}
          </optgroup>
        {{/if}}
        {{#if lists.merged.length}}
          <optgroup label="{{localize 'SPELLMANAGER.Folders.MergedLists'}}">
            {{#each lists.merged}}
              <option value="{{this.uuid}}">{{this.name}}</option>
            {{/each}}
          </optgroup>
        {{/if}}
        {{#if lists.actorOwned.length}}
          <optgroup label="{{localize 'SPELLMANAGER.Folders.PlayerSpellbooks'}}">
            {{#each lists.actorOwned}}
              <option value="{{this.uuid}}">{{this.name}}</option>
            {{/each}}
          </optgroup>
        {{/if}}
      </multi-select>
    </div>
    <p class="hint">{{localize "SPELLMANAGER.MergeLists.SpellListsHint"}}</p>
  </div>
  <div class="form-group">
    <label for="merged-list-name">{{localize "SPELLMANAGER.MergeLists.MergedListNameLabel"}}</label>
    <div class="form-fields">
      <input type="text" id="merged-list-name" name="mergedListName"
        placeholder="{{localize 'SPELLMANAGER.MergeLists.MergedListNameLabel'}}" maxlength="100">
    </div>
    <p class="hint">{{localize "SPELLMANAGER.MergeLists.MergedListNameRequired"}}</p>
  </div>
  <div class="form-group">
    <label for="hide-source-lists">{{localize "SPELLMANAGER.MergeLists.HideSourceListsLabel"}}</label>
    <div class="form-fields">
      <input type="checkbox" id="hide-source-lists" name="hideSourceLists">
    </div>
    <p class="hint">{{localize "SPELLMANAGER.MergeLists.HideSourceListsHint"}}</p>
  </div>
</div>
