<div class="gm-spell-list-manager-container {{#if isLoading}}loading-state{{else if hasError}}error-state{{/if}}">
	{{#if isLoading}}
		<div class="manager-loading">
			<i class="fas fa-spinner fa-spin fa-3x"></i>
			<p>{{localize "SPELLMANAGER.Application.Loading"}}</p>
		</div>
	{{else if hasError}}
		<div class="manager-error">
			<p class="error-message">{{errorMessage}}</p>
		</div>
	{{else}}
		{{> "modules/spell-book/templates/gm-spell-list-manager-left.hbs"}}
		{{> "modules/spell-book/templates/gm-spell-list-manager-middle.hbs"}}
		{{> "modules/spell-book/templates/gm-spell-list-manager-right.hbs"}}
	{{/if}}
</div>
