<section>
  <p class="hint">{{localize "SPELLBOOK.Settings.Troubleshooter.Notes"}}</p>
  {{#if ownedActorCount}}
    <div class="form-group">
      <label for="troubleshooter-include-actors">{{localize "SPELLBOOK.Settings.Troubleshooter.IncludeActorData"}}</label>
      <input type="checkbox" id="troubleshooter-include-actors" data-action="includeActors"
        {{#if includeActors}}checked{{/if}}>
      <p class="hint">
        {{localize "SPELLBOOK.Settings.Troubleshooter.ActorDataHint" count=ownedActorCount names=ownedActorNames}}
      </p>
    </div>
  {{/if}}
  <label for="troubleshooter-output" class="output-label">{{localize "SPELLBOOK.Settings.Troubleshooter.OutputLabel"}}</label>
  <textarea id="troubleshooter-output" name="output" readonly>{{output}}</textarea>
</section>
