<nav class="tabs tabs-right" data-group="spellbook-tabs">
  {{#if hasMultipleTabs}}
    {{#each tabs as |tab|}}
      <!-- Individual Tab Navigation Item - Supports icons and class images -->
      <a class="item {{tab.cssClass}}" data-action="tab" data-tab="{{tab.id}}" data-group="{{tab.group}}"
        data-tooltip="{{tab.label}}">

        {{#if tab.data.classImg}}
          <!-- Class-Specific Image Icon - For visual class representation -->
          <img src="{{tab.data.classImg}}" alt="{{tab.label}}" class="tab-icon">
        {{else if tab.icon}}
          <!-- CSS Icon - Standard icon fonts for generic tabs -->
          <i class="{{tab.icon}}"></i>
        {{/if}}
      </a>
    {{/each}}
  {{/if}}
</nav>
