<div class="spell-book-chat-message spell-book-update-report">
  <header class="sb-report-header">
    <img class="sb-report-icon" src="modules/spell-book/assets/icon_colored.png" alt="" />
    <div class="sb-report-titles">
      <span class="sb-report-eyebrow">{{actorName}}</span>
      <span class="sb-report-title">{{localize 'SPELLBOOK.Chat.UpdateReport.Title'}}</span>
    </div>
  </header>
  {{#each classChanges}}
    {{#if this.hasChanges}}
      <section class="sb-report-class">
        <h3>{{this.className}}</h3>
        {{#if this.hasRows}}
          <table class="sb-change-table">
            <tbody>
              {{#if this.removed.length}}
                <tr class="sb-change-head sb-change-removed">
                  <th>{{localize 'SPELLBOOK.Notifications.Removed'}}</th>
                  <th class="sb-change-lvl">{{localize 'SPELLBOOK.Notifications.Level'}}</th>
                </tr>
                {{#each this.removed}}
                  <tr class="sb-change-row">
                    <td class="sb-change-name">{{this.link}}</td>
                    <td class="sb-change-lvl">{{this.level}}</td>
                  </tr>
                {{/each}}
              {{/if}}
              {{#if this.added.length}}
                <tr class="sb-change-head sb-change-added">
                  <th>{{localize 'SPELLBOOK.Notifications.Added'}}</th>
                  <th class="sb-change-lvl">{{localize 'SPELLBOOK.Notifications.Level'}}</th>
                </tr>
                {{#each this.added}}
                  <tr class="sb-change-row">
                    <td class="sb-change-name">{{this.link}}</td>
                    <td class="sb-change-lvl">{{this.level}}</td>
                  </tr>
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        {{/if}}
        {{#if this.overLimits.cantrips.isOver}}
          <p class="sb-report-warning"><strong class="warning">{{localize 'SPELLBOOK.Notifications.CantripOverLimit'}}:</strong>
            {{this.overLimits.cantrips.current}}/{{this.overLimits.cantrips.max}}
            ({{this.overLimits.cantrips.overCount}} over)
          </p>
        {{/if}}
        {{#if this.overLimits.spells.isOver}}
          <p class="sb-report-warning"><strong class="warning">{{localize 'SPELLBOOK.Notifications.SpellOverLimit'}}:</strong>
            {{this.overLimits.spells.current}}/{{this.overLimits.spells.max}}
            ({{this.overLimits.spells.overCount}} over)
          </p>
        {{/if}}
      </section>
    {{/if}}
  {{/each}}
</div>
