<div id="spell-book-context-menu-{{type}}" class="spell-book-context-menu" data-menu-type="{{type}}">
	{{#each items as |item|}}
		<div class="context-menu-item" data-item-id="{{item.id}}">
			<i class="{{item.icon}} item-icon" aria-hidden="true"></i>
			<span class="item-text">{{item.label}}</span>
		</div>
	{{/each}}
</div>
