<div class="focus-option-row" data-index="{{index}}">
  <input type="hidden" name="focus-id-{{index}}" value="{{#if id}}{{id}}{{else}}focus-{{index}}{{/if}}" />

  <!-- Icon Selection Column - Clickable image picker -->
  <div class="focus-icon-picker" data-action="selectIcon" data-index="{{index}}"
    data-tooltip="{{localize 'SPELLBOOK.FocusSettings.ClickToChangeIcon'}}">
    <img src="{{#if icon}}{{icon}}{{else}}icons/svg/mystery-man.svg{{/if}}" alt="Focus Icon"
      class="focus-icon-preview" />
    <input type="hidden" name="focus-icon-{{index}}"
      value="{{#if icon}}{{icon}}{{else}}icons/svg/mystery-man.svg{{/if}}" />
  </div>

  <!-- Focus Name Input -->
  <input type="text" name="focus-name-{{index}}" {{#if name}}value="{{name}}" {{/if}}
    placeholder="{{localize 'SPELLBOOK.FocusSettings.NamePlaceholder'}}"
    data-tooltip="{{localize 'SPELLBOOK.FocusSettings.NameTooltip'}}" />

  <!-- Focus Description Input -->
  <input type="text" name="focus-description-{{index}}" {{#if description}}value="{{description}}" {{/if}}
    placeholder="{{localize 'SPELLBOOK.FocusSettings.DescriptionPlaceholder'}}"
    data-tooltip="{{localize 'SPELLBOOK.FocusSettings.DescriptionTooltip'}}" />

  <!-- Delete Focus Button -->
  <button type="button" class="delete-focus" data-action="deleteFocus" data-index="{{index}}"
    data-tooltip="{{localize 'SPELLBOOK.FocusSettings.DeleteFocus'}}">
    <i class="fas fa-trash"></i>
  </button>
</div>
