<!-- Migration Actor List Header with Count -->
<h3>{{localize 'SPELLBOOK.Migrations.UpdatedActors' count=actors.length}}</h3>

<!-- Updated Actors List -->
<ul>
  {{#each visibleActors}}
    <li>{{this.name}}
      <!-- Invalid Flags Indicator -->
      {{#if this.hadInvalidFlags}}({{localize 'SPELLBOOK.Migrations.InvalidFlagsDetail'}}){{/if}}
      <!-- Source Compendium Information -->
      {{#if this.pack}} - {{localize 'SPELLBOOK.Migrations.Compendium' name=this.pack}}{{/if}}
    </li>
  {{/each}}

  <!-- Truncation Indicator -->
  {{#if hasMoreActors}}
    <li>{{localize 'SPELLBOOK.Migrations.AndMore' count=remainingCount}}</li>
  {{/if}}
</ul>
