<div class="spell-book-chat-message spell-book-migration-report">
  <!-- Migration Report Header -->
  <h4>{{localize 'SPELLBOOK.Migrations.ChatTitle'}}</h4>
  <p>{{localize 'SPELLBOOK.Migrations.ChatDescription'}}</p>
  <p>{{localize 'SPELLBOOK.Migrations.TotalUpdated' count=totalProcessed}}</p>

  <!-- Deprecated Data Cleanup Results -->
  {{#if deprecatedResults.invalidFlagRemovals}}
    <p><strong>{{localize 'SPELLBOOK.Migrations.InvalidFlagsRemoved'}}:</strong>
      {{localize 'SPELLBOOK.Migrations.InvalidFlagsRemovedCount' count=deprecatedResults.invalidFlagRemovals}}
    </p>
  {{/if}}

  <!-- Folder Migration Results Component -->
  {{#if folderResults.processed}}
    {{> modules/spell-book/templates/components/migration-folder-results.hbs folderResults=folderResults}}
  {{/if}}

  <!-- Ownership Validation Results Component -->
  {{#if ownershipResults.processed}}
    {{> modules/spell-book/templates/components/migration-ownership-results.hbs ownershipResults=ownershipResults}}
  {{/if}}

  <!-- User Data Migration Results Component -->
  {{#if userDataResults.processed}}
    {{> modules/spell-book/templates/components/migration-user-data-results.hbs userDataResults=userDataResults}}
  {{/if}}

  <!-- Actor Update Results Component -->
  {{#if deprecatedResults.actors.length}}
    {{> modules/spell-book/templates/components/migration-actor-list.hbs actors=deprecatedResults.actors}}
  {{/if}}

  <!-- Custom Spell List Format Migration Results -->
  {{#if customSpellListResults.processed}}
    {{> modules/spell-book/templates/components/migration-custom-spell-list-results.hbs customSpellListResults=customSpellListResults}}
  {{/if}}

  <!-- Null to Array Migration Results Component -->
  {{#if nullToArrayResults.processed}}
    {{> modules/spell-book/templates/components/migration-null-to-array-results.hbs nullToArrayResults=nullToArrayResults}}
  {{/if}}

  <!-- Migration Apology -->
  <p>{{localize 'SPELLBOOK.Migrations.Apology'}}</p>

  <!-- Suppression Button Section -->
  <div class="suppression-actions">
    <button class="suppress-migration-warnings"
      data-tooltip="{{localize 'SPELLBOOK.Migrations.SuppressButtonTooltip'}}">
      <i class="fas fa-eye-slash"></i>
      {{localize 'SPELLBOOK.Migrations.SuppressButton'}}
    </button>
  </div>
</div>
