<div class="search-section-header">{{localize 'SPELLBOOK.Search.Suggestions'}}</div>
{{#if hasMatches}}
  {{#each matches as |spell|}}
    <div class="search-suggestion" data-query="{{spell.name}}" role="option" tabindex="-1" aria-selected="false">
      <span class="suggestion-text" {{#if spell.hasTooltip}} data-tooltip="{{spell.name}}" {{/if}}>{{spell.name}}</span>
    </div>
  {{/each}}
{{else}}
  <div class="search-status">{{localize 'SPELLBOOK.Search.NoMatches'}}</div>
{{/if}}
