<div class="search-section-header">{{localize 'SPELLBOOK.Search.Advanced'}}</div>
{{#if showFieldList}}
  <div class="search-status info">{{localize 'SPELLBOOK.Search.EnterField'}}</div>
  <div class="search-section-header">{{localize 'SPELLBOOK.Search.Fields'}}</div>
  {{#each fields}}
    <div class="search-item clickable" data-action="insertText" data-text="{{this}}"
      {{#if (gt this.length 32)}}data-tooltip="{{this}}" {{/if}}>
      {{this}}
    </div>
  {{/each}}
{{/if}}
{{#if incompleteValue}}
  <div class="search-status info">{{localize 'SPELLBOOK.Search.EnterValue'}}</div>
  <div class="search-section-header">{{localize 'SPELLBOOK.Search.Values'}}</div>
  {{#each incompleteValue.suggestions}}
    <div class="search-item clickable" data-action="insertText" data-text="{{this}}">{{this}}</div>
  {{/each}}
{{/if}}
{{#if queryResult}}
  <div class="search-status {{queryResult.type}}">{{queryResult.message}}</div>
  {{#if queryResult.spells.length}}
    <div class="search-section-header">{{localize 'SPELLBOOK.Search.Results'}}</div>
    {{#each queryResult.spells}}
      <div class="search-item spell-result" data-action="selectSpell" data-uuid="{{this.uuid}}">
        <strong>{{this.name}}</strong> ({{localize 'SPELLBOOK.UI.Level'}} {{this.level}})
      </div>
    {{/each}}
  {{/if}}
{{/if}}
