{{#if recentSearches.length}}
  <div class="search-section-header">{{localize 'SPELLBOOK.Search.Recent'}}</div>
  {{#each recentSearches}}
    <div class="search-item clickable" data-action="selectSearch" data-search="{{this}}"
      {{#if (gt this.length 32)}}data-tooltip="{{this}}" {{/if}}>
      {{this}}
    </div>
  {{/each}}
{{else}}
  <div class="search-section-header">{{localize 'SPELLBOOK.Search.NoRecent'}}</div>
{{/if}}
{{#if fuzzyMatches.length}}
  <div class="search-section-header">{{localize 'SPELLBOOK.Search.Suggestions'}}</div>
  {{#each fuzzyMatches}}
    <div class="search-item clickable spell-result" data-action="selectSpell" data-uuid="{{this.uuid}}">
      <strong>{{this.name}}</strong> ({{localize 'SPELLBOOK.UI.Level'}} {{this.level}})
    </div>
  {{/each}}
{{/if}}
