<li class="{{spell.cssClasses}}" {{{spell.dataAttributes}}}>
  <div class="spell-name">
    {{{spell.enrichedIcon}}}
    <div class="name-stacked">
      <span class="title">
        {{spell.name}}

        {{!-- Spell Tags --}}
        {{#if spell.tags}}
          {{#each spell.tags as |tag|}}
            <span class="tag {{tag.cssClass}}" {{#if tag.tooltip}}data-tooltip="{{tag.tooltip}}" {{/if}}>
              {{tag.text}}
            </span>
          {{/each}}
        {{/if}}

        {{!-- Party Member Icons --}}
        {{#if spell.partyIcons.enabled}}
          <span class="party-icons">
            {{#each spell.partyIcons.icons as |icon|}}
              <img src="{{icon.src}}" class="party-member-icon" data-tooltip="{{icon.name}}"
                data-actor-id="{{icon.actorId}}" style="box-shadow: 0 0 0.1rem 0.1rem {{icon.userColor}};">
            {{/each}}
          </span>
        {{/if}}
      </span>

      {{!-- Subtitle with Icons and Metadata --}}
      {{#if (or spell.comparisonIcon.enabled spell.notesIcon.enabled spell.formattedDetails)}}
        <span class="subtitle" {{#if spell.materialComponentsTooltip}}data-tooltip="{{spell.materialComponentsTooltip}}"
          {{/if}}>
          {{!-- Comparison Icon --}}
          {{#if spell.comparisonIcon.enabled}}
            <i class="fa-solid fa-clipboard-question spell-compare-icon{{#if spell.comparisonIcon.active}} active{{/if}}"
              data-action="compareSpell" data-uuid="{{spell.comparisonIcon.uuid}}"
              data-tooltip="{{spell.comparisonIcon.tooltip}}" aria-label="{{spell.comparisonIcon.ariaLabel}}"></i>
          {{/if}}

          {{!-- Notes Icon --}}
          {{#if spell.notesIcon.enabled}}
            <i class="{{spell.notesIcon.iconClass}} spell-notes-icon" data-uuid="{{spell.notesIcon.uuid}}"
              data-action="editNote" data-tooltip="{{spell.notesIcon.tooltip}}"
              aria-label="{{spell.notesIcon.tooltip}}"></i>
          {{/if}}

          {{!-- Formatted Details --}}
          {{#if spell.formattedDetails}}
            {{{spell.formattedDetails}}}
          {{/if}}
        </span>
      {{/if}}
    </div>
  </div>

  {{!-- Wizard Spell Learning Actions --}}
  <div class="wizard-spell-status">
    {{#if spell.wizardAction.isFromScroll}}
      {{!-- Learn from Scroll Button --}}
      <button class="copy-spell-btn scroll-spell-btn" data-action="learnSpellFromScroll"
        data-uuid="{{spell.wizardAction.uuid}}" data-scroll-id="{{spell.wizardAction.scrollId}}" type="button"
        aria-label="{{spell.wizardAction.ariaLabel}}">
        <i class="fas fa-scroll"></i> {{localize "SPELLBOOK.Wizard.LearnSpell"}}
      </button>
    {{else if spell.wizardAction.inSpellbook}}
      {{!-- Already in Spellbook Status with Learning Source --}}
      <span
        class="in-spellbook-tag{{#if spell.wizardAction.learningSource}} learned-{{spell.wizardAction.learningSource}}{{/if}}"
        aria-label="{{localize 'SPELLBOOK.Wizard.InSpellbook'}}">
        {{!-- Learning Source Icon --}}
        {{#if spell.wizardAction.learningSource}}
          {{#if (eq spell.wizardAction.learningSource "scroll")}}
            <i class="fa-solid fa-scroll" aria-hidden="true"></i>
          {{else if (eq spell.wizardAction.learningSource "gold")}}
            <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
          {{else if (eq spell.wizardAction.learningSource "levelup")}}
            <i class="fa-solid fa-arrow-up" aria-hidden="true"></i>
          {{else}}
            <i class="fa-solid fa-book" aria-hidden="true"></i>
          {{/if}}
        {{else}}
          <i class="fa-solid fa-book" aria-hidden="true"></i>
        {{/if}}
        {{!-- Learning Source Label --}}
        {{#if spell.wizardAction.learningSourceLabel}}
          {{spell.wizardAction.learningSourceLabel}}
        {{else}}
          {{localize "SPELLBOOK.Wizard.InSpellbook"}}
        {{/if}}
      </span>
    {{else if spell.wizardAction.canLearn}}
      {{!-- Learn Spell Button (Standard) --}}
      <button class="copy-spell-btn" data-action="learnSpell" data-uuid="{{spell.wizardAction.uuid}}" type="button"
        aria-label="{{localize 'SPELLBOOK.Wizard.LearnSpell'}}">
        <i class="fas fa-book"></i> {{localize "SPELLBOOK.Wizard.LearnSpell"}}
      </button>
    {{/if}}
  </div>
</li>
