<li class="{{cssClasses}}" {{{dataAttributes}}} role="listitem">
	<div class="spell-name">
		{{#if showFavoriteToggle}}
			<button type="button" class="spell-favorite-toggle {{#if favorited}}favorited{{/if}}" data-action="toggleFavorite"
				data-uuid="{{uuid}}" data-tooltip="{{#if favorited}}Remove from Favorites{{else}}Add to Favorites{{/if}}"
				aria-label="{{#if favorited}}Remove from Favorites{{else}}Add to Favorites{{/if}}">
				<i class="{{#if favorited}}fas{{else}}far{{/if}} fa-star" aria-hidden="true"></i>
			</button>
		{{/if}}
		{{{enrichedIcon}}}
		<div class="name-stacked">
			<span class="title">{{name}}
				{{#if tag}}
					<span class="tag {{tag.cssClass}}" {{#if tag.tooltip}}data-tooltip="{{tag.tooltip}}" {{/if}}>
						{{tag.text}}
					</span>
				{{/if}}
			</span>
			<span class="subtitle">{{formattedDetails}}</span>
		</div>
	</div>
	{{> @partial-block}}
</li>
