<div class="spell-level" data-level="{{level}}">
	<h3 class="spell-level-heading" data-action="toggleSpellHeader" data-level="{{level}}" role="button"
		aria-expanded="{{#unless isCollapsed}}true{{else}}false{{/unless}}" aria-controls="spell-list-{{level}}">
		<i class="fas fa-caret-{{#if isCollapsed}}right{{else}}down{{/if}} collapse-indicator" aria-hidden="true"></i>
		{{levelName}}
		{{#if cantripCounter.enabled}}
			<span class="cantrip-counter"
				data-tooltip="{{localize 'SPELLBOOK.Cantrips.CounterTooltip'}}">[{{cantripCounter.current}}/{{cantripCounter.maximum}}]</span>
		{{/if}}
	</h3>
	<ul class="spell-list" id="spell-list-{{level}}" {{#if isCollapsed}}style="display: none;" {{/if}} role="list">
		{{#each spells as |spell|}}
			{{> modules/spell-book/templates/components/spell-item.hbs spell=spell isWizardContext=../isWizardContext}}
		{{/each}}
	</ul>
</div>
{{!-- @todo multiple hardcoded strings here --}}
